* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  text-align: center;
  width: 800px;
}

footer {
  padding: 25px 0 25px 0;
}

nav > p {
  display: inline;
  margin: 0 5px 0 5px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: rgba(0, 0, 0, 0.5);
}

hr {
  width: 75%;
}

@media only screen and (max-width: 800px) {
  iframe {
    width: 600px;
  }
  main {
    width: auto;
  }
  section > p {
    margin: 0 10px 0 10px;
  }
}